<ion-header>
  <ion-navbar color='dark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>我的图片</ion-title>
    <ion-buttons end>
      <button *ngIf="!isDelete" icon-only ion-button (click)="add_img()">

        <ion-icon name='add'></ion-icon>
      </button>
      <button icon-only ion-button (click)="del_img()">

        <ion-icon [name]="isDelete?'trash':'images'"></ion-icon>
      </button>
      <button *ngIf="isDelete" icon-only ion-button (click)="cancel()">
        <ion-icon name='image'></ion-icon>
      </button>


    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>{{mytext}}</div>
  <div [ngClass]="isDelete?'pins2':'pins1'">
    <ion-card #mycard  class="pin" *ngFor="let post of posts;" (click)="toogleClass(mycard,post);$event.stopPropagation()">

      <img tappable (click)='change_image(post)' [src]="post.image" />
      <div tappable *ngIf="post.description" class="post-description" (click)='changeDescription(post,index)'>
        <small>{{ post.description }}</small>
      </div>
      <ion-item>
        <ion-row>
          <ion-col col-8>
            <ion-avatar item-start>
              <img src="./assets/imgs/3.jpg">
            </ion-avatar>
            <small>陶冶</small>
            <p>
              <small>Saicoding</small>
            </p>
          </ion-col>
          <ion-col col-4 class='time' align-self-center>
            <p>{{post.time | date:'yyyy-MM-dd'}}</p>
            <p>{{post.time | date:'HH:mm'}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
